<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>CF Clock</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="javascripts/moment.min.js"></script>
    <script src="javascripts/clockscript.js"></script>
  </head>
  <body onload="digi()" id="thebody">
    <h1 class="time" id="tt"></h1>
    <h1 class="date" id="dd"></h1>
    <p id="ip"><%= ipadd %></p>
  </body>
</html>